// 主題顏色
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc414;
$info-color: #2bcbe4;

// 中性色
$white: #ffffff;
$black: #000000;
$gray-light: #f9f9f9;
$gray: #6c757d;
$gray-dark: #343a40;

//字體
$fontSize-xlg: 3.2rem;
$fontSize-lg: 2.4rem;
$fontSize-m: 2.0rem;
$fontSize-s: 1.8rem;
$fontSize-xs: 1.5rem;
$fontSize-xxs: 1.2rem;
$letter-spacing-s: .2px; //邊距
$letter-spacing-lg: .4px; //邊距
//字體(手機版)
$fontSize-xlg-M: 2.4rem;
$fontSize-lg-M: 2.0rem;
$fontSize-m-M: 1.8rem;
$fontSize-s-M: 1.6rem;
$fontSize-xs-M: 1.4rem;
$fontSize-xxs-M: 1.2rem;

// 邊框
$border-width: 1px;
$border-radius: 4px;
$border-radius-lg: 8px;
$border-radius-circle: 50%;

// 斷點
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;